<template>
  <div class="mt-5">
    <h1>read</h1>
    {{ item1 }}
  </div>
</template>

<script>
export default {
  computed: {
    item () {
      console.log(this.$route.params.id)
      return this.$store.getters['crud/getPosts'].filter(item => item.id === Number(this.$route.params.id))

      // return datas.posts.filter(item => item.id === Number(this.$route.params.id))
    }
  },
  data () {
    return {
      item1: []
    }
  },
  mounted () {
    this.item1 = this.$store.getters['crud/getPostsDB'].filter(item => item.id === Number(this.$route.params.id))
  }
}
</script>

<style>

</style>
