<template>
  <div class="shadow">
  <b-navbar toggleable="lg">
    <b-navbar-brand href="/home">
      <div
        class="logo"
      ></div>
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/home">Home</b-nav-item>
        <b-nav-item href="#" disabled>Disabled</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>{{ fullname }}</em> -->
            <b-avatar :text="fullname.split(' ').map(n => n[0]).join(' ')" size="3rem"></b-avatar>
          </template>
          <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
          <b-dropdown-item
            @click="logout"
          >Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <!-- <b-row no-gutters>
    <b-col lg="3" class="bg-dark"></b-col>
  </b-row> -->
</div>
</template>

<script>
import { BNavbar, BCollapse, BNavbarNav, BDropdownItem, BNavItemDropdown, BNavItem, BNavbarToggle, BAvatar } from 'bootstrap-vue'
export default {
  components: {
    BNavbar, BCollapse, BNavbarNav, BDropdownItem, BNavItemDropdown, BNavItem, BNavbarToggle, BAvatar
  },
  data () {
    return {
      fullname: ''
    }
  },
  mounted () {
    this.fullname = JSON.parse(localStorage.getItem('user')) ? JSON.parse(localStorage.getItem('user')).name : ''
    console.log('this.fullname', this.fullname)
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout').then(res => {
        if (res) {
          this.toastLogout()
          this.$router.push('/login').catch(() => {})
        }
      }).catch(e => e)
    },
    toastLogout () {
      this.$root.$bvToast.toast('Utente Disconnesso!', {
        title: 'Logout',
        variant: 'success',
        autoHideDelay: 5000,
        solid: true
      })
    }
  }
}
</script>

<style scoped>
.logo {
  background-image: url('../../assets/logo-its.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 120px;
}
</style>
