<template>
  <b-row no-gutters>
    <b-col
        cols="12"
        md="6"
        lg="4"
        xl="3"
        v-for="post in posts"
        :key="post.id"
        class="d-flex justify-content-center">
      <b-card
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="min-height: 20rem;max-height: 40rem; max-width: 30rem;background-color:transparent"
        class="m-2 shadow-sm"
      >
        <b-card-body
          style="opacity: 0.6"
        >
          <b-card-text>
            {{ post.message.substring(0,35).concat('...') }}
            <br>
            date: {{ post.created }}
            <br>
            <b-img :src="require('../assets/icons/plus.svg')" height="20px" width="20px" role="button"  @click="openSidebar(post, 'add')"></b-img>
            <b-img :src="require('../assets/icons/trash-2.svg')" height="20px" width="20px" role="button"  @click="openSidebar(post, 'delete')"></b-img>
            <b-img :src="require('../assets/icons/edit.svg')" height="20px" width="20px" role="button"  @click="openSidebar(post, 'update')"></b-img>
            author: {{ post.author }}
          </b-card-text>
          <b-link type="button" :to="{ name: 'read', params: { id: post.id } }" variant="primary">Go somewhere</b-link>
          <b-button  :to="{ name: 'read', params: { id: post.id } }" variant="primary">Go somewhere1</b-button>
        </b-card-body>
      </b-card>
    </b-col>
    {{ posts }}
    <CrudEventHandlerSidebar ref="sidebareventhandler" @update-post="loadPosts" />
    <b-modal id="modal-center" centered title="BootstrapVue">
      <p class="my-4">Vertically centered modal!</p>
    </b-modal>
  </b-row>
</template>
<script>
import { BCard, BCardText, BRow, BCol, BLink, BButton, BCardBody, BImg, VBToggle, BModal } from 'bootstrap-vue'
import CrudEventHandlerSidebar from '../components/CrudEventHandlerSidebar.vue'
// import data from '../db/data'

export default {
  name: 'Home',
  directives: {
    'b-toggle': VBToggle
  },
  components: {
    BCard,
    BCardText,
    BRow,
    BCol,
    BLink,
    BButton,
    BCardBody,
    BImg,
    CrudEventHandlerSidebar,
    BModal
  },
  data () {
    return {
      posts: [],
      title: '',
      boxOne: false
    }
  },
  mounted () {
    // console.log(this.$route)
    this.$store.dispatch('crud/fetchPosts').then(res => console.log('fetchPosts res', res)).catch(e => console.log('e', e))
    this.posts = this.$store.getters['crud/getPostsDB']
  },
  methods: {
    openSidebar (post, crud) {
      if (crud === 'add') {
        this.$root.$emit('bv::toggle::collapse', 'side-crud')
        // this.$root.$emit('bv::toggle::collapse', 'sidebar-crud')
        this.$refs.sidebareventhandler.printPost({}, crud)
      }
      if (crud === 'delete') {
        this.boxOne = ''
        this.$bvModal.msgBoxConfirm('Sei sicuro?')
          .then(value => {
            this.boxOne = value
            console.log((this.boxOne === true))
            if (this.boxOne === true) {
              console.log('boxone')
              this.$store.commit('crud/deletePost', post)
              this.posts.splice(0)
              this.posts = this.$store.getters['crud/getPosts']
            }
          })
          .catch(err => {
            // An error occurred
            return err
          })
      } else {
        this.$root.$emit('bv::toggle::collapse', 'side-crud')
        // this.$root.$emit('bv::toggle::collapse', 'sidebar-crud')
        this.$refs.sidebareventhandler.printPost(post, crud)
      }
    },
    loadPosts () {
      console.log('emit')
      this.posts.splice(0)
      this.posts = this.$store.getters['crud/getPosts']
      console.log('this.post dopo emit', this.posts)
    }
  }
}
</script>

<style>

</style>
