<template>
  <b-sidebar :title="title" id="side-crud" ref="sidebar-crud" v-model="isSidebarOpen" right>
    <div class="px-3 py-2">
      <p>
        {{ post }}
      </p>
      <ValidationObserver ref="form-crud" @submit.prevent="handleSubmit()">
        <b-form>
          <ValidationProvider rules="required" name="title" v-slot="{ valid, errors }">
            <b-form-group
              label="Titolo"
              label-for="exampleInput1"
            >
              <b-form-input
                type="text"
                v-model="post.title"
                :state="errors[0] ? false : (valid ? true : null)"
                placeholder="Inserisci titolo"
              ></b-form-input>
              <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>

          <ValidationProvider
            rules="required"
            name="description"
            v-slot="{ valid, errors }"
          >
            <b-form-group
              label="Descrizione"
            >
              <b-form-input
                type="text"
                v-model="post.message"
                :state="errors[0] ? false : (valid ? true : null)"
                placeholder="Inserisci testo"
              ></b-form-input>
              <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>
          <b-button type="submit" variant="primary" class="mr-2">Login</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>

        </b-form>
      </ValidationObserver>
      <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
    </div>
  </b-sidebar>
</template>
<script>
import { BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton } from 'bootstrap-vue'
import { ValidationObserver, ValidationProvider } from 'vee-validate'

export default {
  /* props: {
    title: {
      type: String,
      default: 'Aggiungi...'
    }
  }, */
  components: {
    ValidationObserver,
    ValidationProvider,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton
  },
  data () {
    return {
      isSidebarOpen: false,
      title: '',
      post: {}
    }
  },
  methods: {
    printPost (post, crud) {
      this.title = crud
      this.post = { ...post }
      console.log('dentro sidebar', this.post, crud)
    },
    handleSubmit () {
      this.$store.commit('crud/setPost', this.post)
      this.$emit('update-post')
    }
  }
}
</script>

<style>

</style>
