<template>
  <div id="app">
    <b-row v-if="this.$route.meta.layout !== 'full'" no-gutters>
      <b-col cols="12" class="p-2 p-lg-3">
        <Navbar />
      </b-col>
    </b-row><router-view></router-view>
  </div>
</template>

<script>
import Navbar from './components/layout/Navbar.vue'
import { BRow, BCol } from 'bootstrap-vue'

export default {
  name: 'app',
  components: {
    Navbar,
    BRow,
    BCol
  },
  computed: {
    posts () {
      return this.$store.getters['crud/getPosts']
    }
  },
  watch: {
  },
  data () {
    return {
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  background-image: url('./assets/sja.png');
  background-color: #FAA52D;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-width: 320) {
  #app{
    background-size: 100%;
  }
}
@media screen and (min-width: 544px) {
  #app{
    background-size: 50%;
  }
}
@media screen and (min-width: 768px) {
  #app{
    background-size: 40%;
  }
}
@media screen and (min-width: 992px) {
  #app{
    background-size: 30%;
  }
}
@media screen and (min-width: 1200px) {
  #app{
    background-size: 30%;
  }
}
</style>
