<template>
  <div
    class="error404 w-100"
  >
    <b-row no-gutters>
      <b-col cols="12" lg="6"></b-col>
      <b-col cols="12" lg="6" class="d-flex flex-column justify-content-center pt-5 mt-5">
        <h1 class="display-1">Pagina non trovata.<span class="d-block">Sei confuso?</span></h1>
        <b-avatar
          :src="require('../../assets/confused-travolta.png')"
          size="10rem"
          class="mx-auto my-5"
        />
        <p class="d-block"><b-button href="/home" variant="primary">Torna nella Home</b-button></p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { BRow, BCol, BButton, BAvatar } from 'bootstrap-vue'
export default {
  components: {
    BRow,
    BCol,
    BButton,
    BAvatar
  }
}
</script>

<style>

</style>
<style scoped>
.error404{
  background-image: url('../../assets/pigna-intera-about.svg');
  background-color: #FAA52D;
  min-height: 100vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
</style>
