<template>
  <b-row no-gutters
      class="bg-login h-100"
    >
    <b-col
      cols="10"
      md="8"
      lg="6"
      class="mx-auto"
    >
      <kinesis-container class="">
        <kinesis-element :strength="10" type="depth" style="margin-top:10% !important">
            <kinesis-element :strength="20" type="depth" class="" style="margin: 20px 0%" >
              <h1 class="display-1 text-white">Esame Finale</h1>
            </kinesis-element>
            <a href="https://stevejobs.academy/" target="_blank"><kinesis-element :strength="50" type="translate" class="logo-login margin-responsive"/></a>
            <kinesis-element :strength="5" type="translate" style="margin: 20px 0%" class="mt-2 mt-lg-0">
              <h6 class="text-white">Matricola: 51/2019</h6>
            </kinesis-element>
            <b-card style="opacity: 0.9;background-color:white">
              <ValidationObserver ref="formregister">
                <b-form @submit.prevent="handleSubmit()" @reset="resetForm">
                  <ValidationProvider rules="required" name="nome completo" v-slot="{ valid, errors }">
                    <b-form-group
                      label="Nome completo:"
                      label-for="fullname"
                    >
                      <b-form-input
                        type="text"
                        v-model="fullname"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="es. Mario Rossi"
                      ></b-form-input>
                      <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </ValidationProvider>
                  <ValidationProvider rules="required|email" name="Email" v-slot="{ valid, errors }">
                    <b-form-group
                      label="Email address:"
                      label-for="exampleInput1"
                    >
                      <b-form-input
                        type="email"
                        v-model="email"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Enter email"
                      ></b-form-input>
                      <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </ValidationProvider>

                  <ValidationProvider
                    rules="required"
                    name="Password"
                    vid="password"
                    v-slot="{ valid, errors }"
                  >
                    <b-form-group
                      label="Password:"
                    >
                      <b-form-input
                        type="password"
                        v-model="password"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Enter password"
                      ></b-form-input>
                      <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </ValidationProvider>
                  <b-button type="submit" variant="primary" class="mr-2">Registrati</b-button>
                  <b-button type="reset" variant="danger">Reset</b-button>

                </b-form>
              </ValidationObserver>
              <hr>
              <p>Hai un account? <b-link :to="{ name: 'login' }">Effettua l'accesso</b-link></p>
            </b-card>
        </kinesis-element>
      </kinesis-container>
    </b-col>
  </b-row>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { BRow, BCol, BCard, BLink } from 'bootstrap-vue'
import { KinesisContainer, KinesisElement } from 'vue-kinesis'
// import axios from 'axios'

export default {
  name: 'BootstrapForm',
  components: {
    ValidationObserver,
    ValidationProvider,
    BRow,
    BCol,
    BCard,
    KinesisContainer,
    KinesisElement,
    BLink
  },
  data: () => ({
    fullname: '',
    email: '',
    password: '',
    confirmation: '',
    subject: '',
    choices: []
  }),
  methods: {
    async handleSubmit () {
      this.$refs.formregister.validate().then(success => {
        if (success) {
          this.$store.dispatch('auth/register', { fullName: this.fullname, email: this.email, password: this.password }).then(res => {
            // this.$store.commit('auth/setToken', res.data.token)
            if (res) {
              this.toastSuccessRegister()
              this.$router.push('/home').catch(() => {})
            }
          }).catch(() => this.toastErrorRegister('Email esistente'))
        }
      })
    },
    resetForm () {
      this.fullname = ''
      this.email = ''
      this.password = ''
      this.confirmation = ''
      this.subject = ''
      this.choices = []
      requestAnimationFrame(() => {
        this.$refs.formregister.reset()
      })
    },
    toastSuccessRegister () {
      this.$root.$bvToast.toast('Utente Registrato!', {
        title: 'Registration',
        variant: 'success',
        autoHideDelay: 5000,
        solid: true
      })
    },
    toastErrorRegister (message) {
      this.$root.$bvToast.toast(message, {
        title: 'Registration',
        variant: 'danger',
        autoHideDelay: 5000,
        solid: true
      })
    }
  }
}
</script>
<style scoped>
.logo-login{
  background-image: url('../../assets/logo-its.svg');
  height: 100px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
}
@media screen and (max-width: 544) {
  .logo-login {
    height: 100px;
    width: 100px;
  }
}
</style>
